@page "/hotel-rooms"

<div class="row mt-4">

    @* Page Header/Title *@
    <div class="col-8">
        <h4 class="card-title text-info">Hotel Room's</h4>
    </div>

    @* Create New Hotel Room Button *@
    <div class="col-3 offset-1">
        <NavLink href="hotel-room/create" class="btn btn-info form-control">Create New Room</NavLink>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <table class="table table-bordered table-hover">

            @* Hotel Rooms Table Head *@
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Occupancy</th>
                    <th>Rate</th>
                    <th>Sqft</th>
                    <th></th>
                </tr>
            </thead>

            @* Hotel Rooms Table Data *@
            <tbody>
                @if (HotelRooms.Any())
                {
                    foreach (var room in HotelRooms)
                    {
                        <tr>
                            <td>@room.Name</td>
                            <td>@room.Occupancy</td>
                            <td>@room.RegularRate.ToString("c")</td>
                            <td>@room.SqFt</td>

                            @* Edit and Delete Hotel Room Buttons *@
                            <td>
                                <NavLink href="@($"hotel-room/edit/{room.Id}")" class="btn btn-primary">Edit</NavLink>
                                <button class="btn btn-danger" @onclick="() => HandleDelete(room.Id)">Delete</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            No Records Found
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<DeleteConfirmation UserDeleteSelection="ProcessDelete_Click" IsParentDeleteProcessing="IsDeleteProcessing"></DeleteConfirmation>

@code {

}
